.loginHeader,
.loginForm {
  padding-top: 44px;
  text-align: center;
}

.loginFormInput {
  height: 47px;
  background-color: rgba(57, 57, 57, 0.08);
  border: none;
  border-radius: 12px;
  margin: 5px;
  padding: 0px 21px;
}

.loginFormInput:hover {
  background-color: rgba(57, 57, 57, 0.2);
}

.loginUserFeedback {
  color: rgb(165, 60, 60);
  text-align: center;
  font-weight: 700;
  font-size: 19px;
}
